# Files
*-error.log
*.zip
*.rar
*.tar
*.tar.gz
*.gz

# Folders
/node_modules/
/releases/

# OS or Editor folders
._*
.cache
.DS_Store
.idea
.vscode
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db